---
# Configure clang-tidy for this project.
# See https://clang.llvm.org/extra/clang-tidy/ for documentation.
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  google-*,
  abseil-*,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*,

FormatStyle: file # Use the style from .clang-format.

CheckOptions:
  # Allow things like fd or db
  - key:             readability-identifier-length.MinimumParameterNameLength
    value:           2
  - key:             readability-identifier-length.MinimumVariableNameLength
    value:           2